@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-body);
  --font-display: var(--font-main);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.page-sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-text {
  font-family: var(--font-main), var(--font-georgian), serif;
}

.body-text {
  font-family: var(--font-body), var(--font-georgian), sans-serif;
}
